doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      | Disc Animation - Complex, repeating animation using JavaScript and HTML5 Canvas
    link(rel='stylesheet', href='styles/style.css')
    // if IEscript(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(type='text-javascript', src='scripts/disc-animation.js')
  body#home
    #container
      canvas#canv